<div class="newsspec_7553">

    <!--<ul class="statistics">
        <li class="statistics__item statistics__item--1"
            <p><%= obj[stats_1_text] %> <span class="statistics__item-figure"><%= obj[stats_1_figure] %></span></p>
        </li>
        <li class="statistics__item statistics__item--2">
            <p><%= obj[stats_2_text] %> <span class="statistics__item-figure"><%= obj[stats_2_figure] %></span></p>
        </li>
        <li class="statistics__item statistics__item--3">
            <p><%= obj[stats_3_text] %> <span class="statistics__item-figure"><%= obj[stats_3_figure] %></span></p>
        </li>
    </ul>-->

</div>
